
*{
  font-family: "Lato", sans-serif;
  margin: 0px;
}

body{
  display: flex;
  flex-direction: column;
  background: #000022;
}

.hero{
  font-family: "Lato", sans-serif;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1{
  color: #FBF5F3;
  font-size: 38px;
  margin-top: 10vh;
}

.link-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FBF5F3;
  font-size: 16px;
}

.hero-separator{
  margin: 10px;
  width: 1px;
  height: 25px;
  background-color: #FBF5F3;
}

footer{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FBF5F3;
  font-size: 16px;
}

.pic-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 10px;
  width: 90%;
}

.responsive-img{
  max-height: auto;
  max-width: auto;
  border-radius: 1px;
}
