body{
  font-family: 'Futura';
}

.hero{
  font-family: 'Avenir', sans-serif;
}

.card{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: #999;
}

.screenshots{
  width: 30vw;
  height: 20vh;
}

.card p{

}

.responsive-img{
  height: auto;
  width: auto;
}
