
body{
  font-family: 'Futura';
}

.hero{
  font-family: 'Avenir', sans-serif;
}

.card{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: #f7943e;
  height: 30vh;
  width: 20vw;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.card p{

}

.responsive-img{
  max-height: auto;
  max-width: 20vw;
}
